*.bkp
.cache
.coverage*
.env
.ipynb_checkpoints
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv
Errfile
PRINT
__pycache__/
mesh.edge
mesh.ele
mesh.msh
mesh.node
norm_end
swashinit
tags
wave_statistics.txt
