*.bkp
.cache
.coverage*
.env
.ipynb_checkpoints
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv
__pycache__/
tags

Errfile
PRINT
mesh.ele
mesh.msh
mesh.node
norm_end
swashinit
times.txt
wave_field.mat
wave_field.txt

/scripts/diagram.png
/scripts/bathymetry.txt
/scripts/gauge_positions.txt
/scripts/porosity.txt
